<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>{{ organizacao.id ? ('Cadastros.Organizacao.EditarOrganizacao' | translate ) : ('Cadastros.Organizacao.IncluirOrganizacao' | translate) }}
            </h1>

            <form name="editForm" (ngSubmit)="save(editForm)" #editForm="ngForm">
                <div class="ui-g">

                    <div class="ui-g-12 form-fields-container">
                        <label for="logo" translate="Cadastros.Organizacao.LogoOrganizacao">Logo da Organização</label>
                        <p-fileUpload maxFileSize="5242880"
                            [chooseLabel]="'Cadastros.Organizacao.SelecionarArquivo' | translate"
                            (onSelect)="fileUpload($event)" accept="image/*" [showUploadButton]="false"
                            [showCancelButton]="false" name="logo" accept="image/*">
                        </p-fileUpload>
                    </div>

                    <div class="ui-g-12 ui-md-3" *ngIf="logo != null">
                        <span class="md-inputfield">
                            <img src="data:image/png;base64,{{logo}}" class="inputLogo">
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-sm-12 form-fields-container">
                        <span class="md-inputfield">
                            <input type="text" name="nomeOrganizacao" maxlength="80" required
                                [(ngModel)]="organizacao.nome" pInputText />
                            <label for="nomeOrganizacao" translate="Cadastros.Organizacao.Nome*">Nome *</label>
                            <div *ngIf="editForm.controls['nomeOrganizacao'] 
                                && !editForm.controls['nomeOrganizacao'].valid 
                                && (editForm.controls['nomeOrganizacao'].touched 
                                || editForm.submitted)" class="ui-message ui-messages-error"
                                translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>

                    <div class="ui-g-4 ui-md-4 ui-sm-12 form-fields-container">
                        <span class="md-inputfield">
                            <input type="text" name="siglaOrganizacao" [(ngModel)]="organizacao.sigla" pInputText
                                maxlength="255" required />
                            <label for="siglaOrganizacao" translate="Cadastros.Organizacao.Sigla*">Sigla*</label>
                            <div *ngIf="editForm.controls['siglaOrganizacao'] 
                                && !editForm.controls['siglaOrganizacao'].valid 
                                && (editForm.controls['siglaOrganizacao'].touched 
                                || editForm.submitted)" class="ui-message ui-messages-error"
                                translate="Global.Mensagens.CampoObrigatorio">
                                Campo obrigatório.
                            </div>
                        </span>
                    </div>

                    <div class="ui-g-4 ui-md-4 ui-sm-12 form-fields-container">
                        <span class="md-inputfield">
                            <input type="text" name="cnpjOrganizacao" maxlength="18" minlength="14"
                                mask="99.999.999/9999-99" pattern="[0-9]+$" [(ngModel)]="organizacao.cnpj" pInputText
                                required />
                            <label for="cnpjOrganizacao" translate="Cadastros.Organizacao.CNPJ*">CNPJ*</label>
                            <div *ngIf="editForm.controls['cnpjOrganizacao'] 
                                && !editForm.controls['cnpjOrganizacao'].valid 
                                && (editForm.controls['cnpjOrganizacao'].touched 
                                || editForm.submitted)" class="ui-message ui-messages-error"
                                translate="Cadastros.Organizacao.Mensagens.msgCNPJInvalido">
                                CNPJ Inválido!
                            </div>
                        </span>
                    </div>

                    <div class="ui-g-4 ui-md-4 ui-sm-12 form-fields-container">
                        <span class="md-inputfield">
                            <input type="text" maxlength="250" name="numeroOcorrencia"
                                [(ngModel)]="organizacao.numeroOcorrencia" pInputText />
                            <label for="numeroOcorrencia" translate="Cadastros.Organizacao.NumeroOcorrencia">Número da
                                Ocorrência</label>
                        </span>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-sm-12 form-fields-container">

                        <h2 translate="Cadastros.Organizacao.Ativo:">Ativo:</h2>

                        <div class="ui-g-2 ui-md-2 ui-sm-6">
                            <p-radioButton name="org_ativo" [value]="true" [label]="'Global.Botoes.Sim' | translate"
                                [(ngModel)]="organizacao.ativo">
                            </p-radioButton>
                        </div>

                        <div class="ui-g-2 ui-md-2 ui-sm-6">
                            <p-radioButton name="org_ativo" [value]="false" [label]="'Global.Botoes.Nao' | translate"
                                [(ngModel)]="organizacao.ativo">
                            </p-radioButton>
                        </div>

                    </div>

                    <div class="ui-g form-fields-container">

                        <div class="ui-g">
                            <h2 translate="Cadastros.Organizacao.Contratos*">
                                Contratos*
                            </h2>
                        </div>

                        <div class="ui-g-3 ui-md-3 ui-sm-12 ui-md-offset-9">
                            <app-blue-button [buttonLabel]="'Cadastros.Organizacao.Botoes.NovoContrato' | translate"
                                buttonIcon="ui-icon-add" (click)="abrirDialog()">
                            </app-blue-button>
                        </div>

                        <div class="dynamic-table-container">
                            <div class="table-container">
                                <p-dataTable [value]="organizacao.contracts" [(selection)]="selectedLine"
                                selectionMode="single" compareSelectionBy="equals">

                                    <p-column [header]="'Cadastros.Organizacao.NumeroContrato' | translate"
                                        field="numeroContrato">
                                    </p-column>

                                    <p-column [header]="'Cadastros.Organizacao.InicioVigencia' | translate"
                                        field="dataInicioVigencia">
                                        <ng-template let-col let-dataInicioVigencia="rowData" pTemplate="body">
                                            {{ dataInicioVigencia[col.field] | date: 'dd/MM/y' }}
                                        </ng-template>
                                    </p-column>

                                    <p-column [header]="'Cadastros.Organizacao.FinalVigencia' | translate"
                                        field="dataFimVigencia">
                                        <ng-template let-col let-dataFimVigencia="rowData" pTemplate="body">
                                            {{ dataFimVigencia[col.field] | date: 'dd/MM/y' }}
                                        </ng-template>
                                    </p-column>

                                    <p-column [header]="'Cadastros.Organizacao.DiasGarantia' | translate"
                                        field="diasDeGarantia">
                                    </p-column>

                                    <p-column [header]="'Cadastros.Organizacao.Ativo' | translate" field="ativo">
                                        <ng-template let-col let-ativo="rowData" pTemplate="body">
                                            {{ ativo[col.field] ? ('Global.Botoes.Sim' | translate) : ('Global.Botoes.Nao' | translate) }}
                                        </ng-template>
                                    </p-column>

                                </p-dataTable>
                            </div>

                            <div class="table-next-containter">
                                <div class="btn-table">
                                    <button type="button" pButton class="green-btn side-button" name="edit"
                                        icon="ui-icon-edit" value="edit" [title]="'Global.Botoes.Editar' | translate"
                                        (click)="abrirEditar()" [disabled]="selectedLine == null">
                                    </button>
                                    <button type="button" pButton class="ui-button-danger side-button" name="delete"
                                        icon="ui-icon-trash" [title]="'Global.Botoes.Excluir' | translate"
                                        (click)="confirmDelete()" [disabled]="selectedLine == null">
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="ui-g ui-md-12 form-buttons-container">
                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-white-button [buttonLabel]="'Global.Botoes.Cancelar' | translate"
                            routerLink="/organizacao">
                        </app-white-button>
                    </div>

                    <div class="ui-g-2 ui-md-2 ui-sm-12">
                        <app-green-button [buttonLabel]="'Global.Botoes.Salvar' | translate" (click)="save(editForm)"
                            buttonIcon="ui-icon-save">
                        </app-green-button>
                    </div>
                </div>

            </form>

            <p-dialog [header]="'Cadastros.Organizacao.Contrato' | translate"
                [(visible)]="mostrarDialogCadastroContrato" (onHide)="fecharDialog(manualForm)" [width]="900"
                resizable="true">

                <form name="contratoForm" (ngSubmit)="save(contratoForm)" #contratoForm="ngForm">
                    <div class="ui-g">

                        <div class="ui-g-12 ui-md-12 ui-sm-12 form-fields-container">
                            <span class="md-inputfield">
                                <input type="text" name="numeroContrato" maxlength="30"
                                    [(ngModel)]="contrato.numeroContrato" pInputText required autofocus />
                                <label for="numeroContrato"
                                    translate="Cadastros.Organizacao.CadastroContrato.NumeroContrato*">Número do
                                    Contrato *</label>
                                <div *ngIf="contratoForm.controls['numeroContrato']
                                        && !contratoForm.controls['numeroContrato'].valid
                                        && (contratoForm.controls['numeroContrato'].touched
                                        || contratoForm.submitted)" class="ui-message ui-messages-error"
                                    translate="Global.Mensagens.CampoObrigatorio">
                                    Campo obrigatório.
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-6 ui-md-6 ui-sm-12 form-fields-container">
                            <span class="md-inputfield">
                                <p-calendar name="dataInicioVigenciaContrato" dateFormat="dd/mm/yy"
                                    yearRange="2000:2050" id="idDataInicioVigenciaContratoSaveFormOrganizacao"
                                    [(ngModel)]="contrato.dataInicioVigencia" [monthNavigator]="true"
                                    [yearNavigator]="true" required>
                                </p-calendar>
                                <label for="dataInicioVigenciaContrato"
                                    translate="Cadastros.Organizacao.CadastroContrato.DataInicioVigencia*">Data de
                                    Início da Vigência *</label>
                                <div *ngIf="contratoForm.controls['dataInicioVigenciaContrato']
                                        && !contratoForm.controls['dataInicioVigenciaContrato'].valid
                                        && (contratoForm.controls['dataInicioVigenciaContrato'].touched
                                        || contratoForm.submitted)" class="ui-message ui-messages-error"
                                    translate="Global.Mensagens.CampoObrigatorio">
                                    Campo obrigatório.
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-6 ui-md-6 ui-sm-12 form-fields-container">
                            <span class="md-inputfield">
                                <p-calendar name="dataFimVigenciaContrato" yearRange="2000:2050" dateFormat="dd/mm/yy"
                                    [(ngModel)]="contrato.dataFimVigencia" [monthNavigator]="true"
                                    [yearNavigator]="true" required>
                                </p-calendar>
                                <label for="dataFimVigenciaContrato"
                                    translate="Cadastros.Organizacao.CadastroContrato.DataFinalVigencia*">Data Final
                                    da Vigência *</label>
                                <div *ngIf="contratoForm.controls['dataFimVigenciaContrato']
                                        && !contratoForm.controls['dataFimVigenciaContrato'].valid
                                        && (contratoForm.controls['dataFimVigenciaContrato'].touched
                                        || contratoForm.submitted)" class="ui-message ui-messages-error"
                                    translate="Global.Mensagens.CampoObrigatorio">
                                    Campo obrigatório.
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-6 ui-md-6 ui-sm-12 form-fields-container">
                            <span class="md-inputfield">
                                <input type="text" pKeyFilter="int" name="diasDeGarantia"
                                    [(ngModel)]="contrato.diasDeGarantia"
                                    [placeholder]="'Cadastros.Organizacao.CadastroContrato.DiasGarantia*' | translate"
                                    pInputText required />
                                <div *ngIf="contratoForm.controls['diasDeGarantia']
                                                && !contratoForm.controls['diasDeGarantia'].valid
                                                && (contratoForm.controls['diasDeGarantia'].touched
                                                || contratoForm.submitted)" class="ui-message ui-messages-error"
                                    translate="Global.Mensagens.CampoObrigatorio">
                                    Campo obrigatório.
                                </div>
                            </span>
                        </div>

                        <div class="ui-g-6 ui-md-6 ui-sm-12 form-fields-container">
                            <div class="ui-g">
                                <div class="ui-g-6 ui-md-2">
                                    <label translate="Cadastros.Organizacao.CadastroContrato.Ativo:">Ativo:</label>
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <p-radioButton name="contrato_ativo" [(ngModel)]="ativo" [value]="true"
                                        [label]="'Global.Botoes.Sim' | translate">
                                    </p-radioButton>
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <p-radioButton name="contrato_ativo" [value]="false"
                                        [label]="'Global.Botoes.Nao' | translate" [(ngModel)]="ativo">
                                    </p-radioButton>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p-fieldset [legend]="'Cadastros.Organizacao.Manuais' | translate" [toggleable]="true"
                        [collapsed]="true">

                        <form name="manualForm" #manualForm="ngForm">
                            <div class="ui-g-12 ui-md-12 ui-sm-12 form-fields-container">
                                <p-dropdown [filter]="true" [options]="manuais" optionLabel="nome"
                                    [placeholder]="'Cadastros.Organizacao.CadastroContrato.Manual*' | translate"
                                    name="manualDropdownNovo" [(ngModel)]="manualContrato.manual" [autoWidth]="false"
                                    (onChange)="validarManual()" dataKey="id" required [resetFilterOnHide]="false">
                                </p-dropdown>
                                <div *ngIf="manualForm.controls['manualDropdownNovo']
                                    && !manualForm.controls['manualDropdownNovo'].valid
                                    && (manualForm.controls['manualDropdownNovo'].touched
                                    || manualForm.submitted)" class="ui-message ui-messages-error"
                                    translate="Global.Mensagens.CampoObrigatorio">
                                    Campo obrigatório.
                                </div>

                            </div>

                            <div class="ui-g-6 ui-md-6 ui-sm-12 form-fields-container">
                                <span class="md-inputfield">
                                    <p-calendar name="dataInicioVigenciaManual" dateFormat="dd/mm/yy"
                                        yearRange="2000:2050" [(ngModel)]="manualContrato.dataInicioVigencia"
                                        [monthNavigator]="true" [yearNavigator]="true" required
                                        [placeholder]="'Cadastros.Organizacao.CadastroContrato.DataInicioVigencia*' | translate">
                                    </p-calendar>
                                    <div *ngIf="manualForm.controls['dataInicioVigenciaManual']
                                        && !manualForm.controls['dataInicioVigenciaManual'].valid
                                        && (manualForm.controls['dataInicioVigenciaManual'].touched
                                        || manualForm.submitted)" class="ui-message ui-messages-error"
                                        translate="Global.Mensagens.CampoObrigatorio">
                                        Campo obrigatório.
                                    </div>
                                </span>
                            </div>

                            <div class="ui-g-6 ui-md-6 ui-sm-12 form-fields-container">
                                <span class="md-inputfield">
                                    <p-calendar name="dataFimVigenciaManual" yearRange="2000:2050" dateFormat="dd/mm/yy"
                                        [(ngModel)]="manualContrato.dataFimVigencia" [monthNavigator]="true"
                                        [yearNavigator]="true" required
                                        [placeholder]="'Cadastros.Organizacao.CadastroContrato.DataFinalVigencia*' | translate">
                                    </p-calendar>
                                    <div *ngIf="manualForm.controls['dataFimVigenciaManual']
                                        && !manualForm.controls['dataFimVigenciaManual'].valid
                                        && (manualForm.controls['dataFimVigenciaManual'].touched
                                        || manualForm.submitted)" class="ui-message ui-messages-error"
                                        translate="Global.Mensagens.CampoObrigatorio">
                                        Campo obrigatório.
                                    </div>
                                </span>
                            </div>

                            <div class="ui-g-6 ui-md-6 ui-sm-12 form-fields-container">
                                <div class="ui-g">

                                    <div class="ui-g-12 ui-md-2">
                                        <label translate="Cadastros.Organizacao.CadastroContrato.Ativo:">Ativo:</label>
                                    </div>

                                    <div class="ui-g-12 ui-md-2">
                                        <p-radioButton name="manual_ativo" [(ngModel)]="manualContrato.ativo"
                                            [value]="true" [label]="'Global.Botoes.Sim' | translate">
                                        </p-radioButton>
                                    </div>

                                    <div class="ui-g-12 ui-md-2">
                                        <p-radioButton name="manual_ativo" [value]="false"
                                            [label]="'Global.Botoes.Nao' | translate"
                                            [(ngModel)]="manualContrato.ativo">
                                        </p-radioButton>
                                    </div>

                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-12 ui-sm-12 form-fields-container">
                                <div class="ui-g buttonFlexEnd">
                                    <app-green-button [buttonLabel]="'Global.Botoes.Salvar' | translate"
                                        buttonIcon="ui-icon-save" (click)="adicionarManual(manualForm)">
                                    </app-green-button>
                                </div>
                            </div>

                        </form>
                    </p-fieldset>

                    <div class="dynamic-table-container">
                        <div class="table-container">
                            <p-dataTable [value]="contrato.manualContrato" [(selection)]="selectedManualContrato"
                                selectionMode="single" compareSelectionBy="equals">

                                <p-column [header]="'Cadastros.Organizacao.Manual' | translate" field="manual.nome">
                                </p-column>

                                <p-column [header]="'Cadastros.Organizacao.InicioVigencia' | translate"
                                    field="dataInicioVigencia">
                                    <ng-template let-col let-dataInicioVigencia="rowData" pTemplate="body">
                                        {{ dataInicioVigencia[col.field] | date: 'dd/MM/y' }}
                                    </ng-template>
                                </p-column>

                                <p-column [header]="'Cadastros.Organizacao.FinalVigencia' | translate"
                                    field="dataFimVigencia">
                                    <ng-template let-col let-dataFimVigencia="rowData" pTemplate="body">
                                        {{ dataFimVigencia[col.field] | date: 'dd/MM/y' }}
                                    </ng-template>
                                </p-column>

                                <p-column [header]="'Cadastros.Organizacao.Ativo' | translate" field="ativo">
                                    <ng-template let-col let-ativo="rowData" pTemplate="body">
                                        {{ ativo[col.field] ? ('Global.Botoes.Sim' | translate): ('Global.Botoes.Nao' | translate) }}
                                    </ng-template>
                                </p-column>

                            </p-dataTable>
                        </div>

                        <div class="table-next-containter">
                            <div class="btn-table">
                                <button type="button" pButton class="green-btn side-button" name="edit" icon="ui-icon-edit"
                                    value="edit" [title]="'Global.Botoes.Editar' | translate" (click)="editManual()"
                                    [disabled]="selectedManualContrato == null">
                                </button>
                                <button type="button" pButton class="ui-button-danger side-button" name="delete"
                                    icon="ui-icon-trash" [title]="'Global.Botoes.Excluir' | translate"
                                    (click)="deleteManual()" [disabled]="selectedManualContrato == null">
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="ui-g ui-md-12 form-buttons-container">
                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-white-button [buttonLabel]="'Global.Botoes.Cancelar' | translate"
                                (click)="fecharDialog(contratoForm)">

                            </app-white-button>
                        </div>
                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-green-button [buttonLabel]="'Global.Botoes.Salvar' | translate"
                                (click)="adicionarContrato(contratoForm)" buttonIcon="ui-icon-save">
                            </app-green-button>
                        </div>
                    </div>
                </form>

            </p-dialog>

            <p-confirmDialog [header]="'Global.Mensagens.Confirmacao' | translate" #dialog>
                <p-footer>
                    <button type="button" pButton icon="fa-close" [label]="'Global.Botoes.Nao' | translate"
                        (click)="dialog.reject()"></button>
                    <button type="button" pButton icon="fa-check" [label]="'Global.Botoes.Sim' | translate"
                        (click)="dialog.accept()"></button>
                </p-footer>
            </p-confirmDialog>
        </div>
    </div>
</div>