<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-12 ui-sm-12">
    <div class="card card-w-title">
      <h1 translate="Cadastros.Organizacao.Organizacao">Organização</h1>
      <div class="ui-g">

        <div class="ui-g-12 ui-md-12 ui-sm-12">
          <span class="md-inputfield">
            <input type="text" name="organizacaoFiltro" pInputText class="ui-inputtext" [(ngModel)]="filtro.nome"
              (keyup.enter)="obterOrganizacoes()" maxlength="100" />
            <label translate="Cadastros.Organizacao.Descricao">Descrição</label>
          </span>
        </div>


        <div class="ui-g ui-md-12 form-buttons-container">
          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-white-button [buttonLabel]="'Global.Botoes.LimparPesquisa' | translate"
              id="idBtnLimparPesquisaComponentOrganizacao" buttonIcon="ui-icon-clear-all" (click)="limparPesquisa()">
            </app-white-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-blue-button [buttonLabel]="'Global.Botoes.Pesquisar' | translate" buttonIcon="ui-icon-search"
              (click)="obterOrganizacoes()">
            </app-blue-button>
          </div>

          <div class="ui-g-2 ui-md-2 ui-sm-12">
            <app-green-button [buttonLabel]="'Global.Botoes.Novo' | translate" buttonIcon="ui-icon-add"
              routerLink="/organizacao/new"></app-green-button>
          </div>
        </div>

        <div class="dynamic-table-container">
          <div class="table-container">
            <p-dataTable (onRowDblclick)="abrirEditar()" [rows]="20" [value]="organizacoes.content"
              (onRowSelect)="susbcribeSelectRow($event.data)" (onRowUnselect)="subscrbeUnselectRow()"
              [rowsPerPageOptions]="[5, 10, 20]" [totalRecords]="organizacoes.totalElements" [paginator]="true"
              selectionMode="single" [lazy]="true" (onLazyLoad)="obterOrganizacoes()" dataKey="id" #datatable>

              <p-column [header]="'Cadastros.Organizacao.Sigla' | translate" field="sigla" [sortable]="true"></p-column>

              <p-column [header]="'Cadastros.Organizacao.Nome' | translate" field="nome" [sortable]="true"></p-column>

              <p-column [header]="'Cadastros.Organizacao.CNPJ' | translate" field="cnpj" [sortable]="true">
                <ng-template let-col let-item="rowData" pTemplate="body">
                  {{ item.cnpj | cpfCnpj }}
                </ng-template>
              </p-column>

              <p-column [header]="'Cadastros.Organizacao.NumeroOcorrencia' | translate" field="numeroOcorrencia"
                [sortable]="true"></p-column>

              <p-column [header]="'Cadastros.Organizacao.Ativo' | translate" field="ativo" [sortable]="true">
                <ng-template let-col let-ativo="rowData" pTemplate="body">
                  {{ ativo[col.field] ? ('Global.Botoes.Sim' | translate) : (ativo[col.field] != null ? ('Global.Botoes.Nao' | translate) : null) }}
                </ng-template>
              </p-column>

            </p-dataTable>
          </div>

          <div class="table-next-containter">
            <div class="btn-table">
              <button type="button" pButton class="green-btn side-button" name="edit" icon="ui-icon-edit" value="edit"
                [title]="'Global.Botoes.Editar' | translate" (click)="abrirEditar()" [disabled]="selectedLine == null">
              </button>
              <button type="button" pButton class="side-button" name="view" icon="ui-icon-remove-red-eye"
                [title]="'Global.Botoes.Visualizar' | translate" (click)="abrirVisualizar()"
                [disabled]="selectedLine == null">
              </button>
              <button type="button" pButton class="ui-button-danger side-button" name="delete" icon="ui-icon-trash"
                [title]="'Global.Botoes.Excluir' | translate" (click)="confirmDelete(selectedLine.id)"
                [disabled]="selectedLine == null">
              </button>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-md-2">
          <app-export-button [dataTable]="dataTable" resourceName="organizacao" [filter]="filtro">
          </app-export-button>
        </div>

      </div>

    </div>
  </div>
</div>

<p-confirmDialog [header]="'Global.Mensagens.Confirmacao' | translate" #dialog>
  <p-footer>
    <button type="button" pButton icon="fa-close" [label]="'Global.Botoes.Nao' | translate"
      (click)="dialog.reject()"></button>
    <button type="button" pButton icon="fa-check" [label]="'Global.Botoes.Sim' | translate"
      (click)="dialog.accept()"></button>
  </p-footer>
</p-confirmDialog>