<div class="container">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="card card-w-title">
        <h1>Cadastrar Tipo</h1>
        <form name="form" #form="ngForm">
          <div class="ui-g-12 ui-md-12 ui-sm-12">
            <span class="md-inputfield">
              <input pInputText name="nomeTipo" required/>
              <label translate="Cadastros.Tipo.Nome">Nome</label>
            </span>
          </div>
          <div class="ui-g ui-md-12 form-buttons-container">
            <div class="ui-g-2 ui-md-2 ui-sm-12">
              <app-white-button routerLink="/tipo" [buttonLabel]="'Cancelar'"></app-white-button>
            </div>
            <div class="ui-g-2 ui-md-2 ui-sm-12">
              <app-submit-button [buttonLabel]="'Salvar'"></app-submit-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>