<div class="container">
    <div class="ui-g">
        <div class="ui-g-12 ui-fluid">     
            <div class="card card-w-title">
                <h1>Tipo</h1>
                <div class="ui-g">  
                    <div class="ui-g-12 ui-md-12">
                        <span class="ui-float-label">
                            <input name="input-desc" pInputText type="text" required>
                            <label for="input-desc">Descrição</label>
                        </span>
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-g ui-md-12 form-buttons-container">
                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-white-button [buttonLabel]="'Limpar'" buttonIcon="ui-icon-clear-all"></app-white-button>
                        </div>

                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-blue-button [buttonLabel]="'Pesquisar'" buttonIcon="ui-icon-search"></app-blue-button>
                        </div>

                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-green-button [buttonLabel]="'Novo'" buttonIcon="ui-icon-add"></app-green-button>
                        </div>
                    </div>
                </div>

                <p-dataTable [paginator]="true" [rows]="20">
                    <p-column [header]="'Codigo'" field="id"></p-column>
                    <p-column [header]="'Nome'" field="nome"></p-column>
                </p-dataTable>
            </div>            
        </div>
    </div>
</div>