<div class="container">
    <div class="ui-g ui-fluid">
        <div class="card card-w-title">
            <h1 translate="Cadastros.Tipo.Tipo">Tipo</h1>
            <div class="ui-g">

                <div class="ui-g-12 ui-md-12">
                    <span class="md-inputfield">
                        <input pInputText class="ui-inputtext" 
                            name="filtro" maxlength="100"
                            [(ngModel)]="filtro.nome" (keyup.Enter)="obterTipos()" />
                        <label for="filtro" translate="Cadastros.Tipo.Nome">Nome</label>
                    </span>
                </div>

                <div class="ui-g">
                    <div class="ui-g ui-md-12 form-buttons-container">

                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-white-button (click)="limpaCampos()" [buttonLabel]="'Global.Botoes.LimparPesquisa' | translate" buttonIcon="ui-icon-clear-all">
                            </app-white-button>
                        </div>

                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-blue-button (click)="obterTipos()" [buttonLabel]="'Global.Botoes.Pesquisar' | translate"
                                buttonIcon="ui-icon-search" (click)="obterTipos()">
                            </app-blue-button>
                        </div>

                        <div class="ui-g-2 ui-md-2 ui-sm-12">
                            <app-green-button routerLink="/tipo/new" [buttonLabel]="'Global.Botoes.Novo' | translate" buttonIcon="ui-icon-add">
                            </app-green-button>
                        </div>

                    </div>

                    <div class="dynamic-table-container">
                        <div class="table-container">
                            <p-dataTable #datatable 
                                [value]="tipos.content" 
                                [paginator]="true" 
                                [rowsPerPageOptions]="[5, 10, 20]" 
                                [rows]="20" 
                                [lazy]="true" 
                                (onLazyLoad)="obterTipos()" dataKey="id" 
                                [totalRecords]="tipos.totalElements" 
                                (onRowSelect)="linhaSelecionada($event.data)"
                                (onRowDblclick)="abrirTelaEditarTipo()" 
                                selectionMode="single">
                                <p-column [header]="'Cadastros.Fase.Codigo' | translate" [sortable]="true" field="id"></p-column>
                                <p-column [header]="'Cadastros.Fase.Nome' | translate"  [sortable]="true" field="nome"></p-column>
                            </p-dataTable>
                        </div>

                        <div class="table-next-containter">
                            <div class="btn-table">
                                <button type="button" pButton class="green-btn side-button" name="edit"
                                [title]="'Global.Botoes.Editar' | translate" (click)="abrirTelaEditarTipo()" icon="ui-icon-edit" value="edit"></button>
                                <button type="button" pButton class="side-button" name="view"
                                [title]="'Global.Botoes.Visualizar' | translate" (click)="visualizarTipo()" icon="ui-icon-remove-red-eye"></button>
                                <button type="button" pButton class="ui-button-danger side-button" name="delete"
                                [title]="'Global.Botoes.Excluir' | translate" (click)="removerRegistro()" icon="ui-icon-trash"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-2 ui-sm-2">
                    <app-export-button [dataTable]="datatable" [filter]="filtro" resourceName="tipo"></app-export-button>
                </div>
            </div>
        </div>
    </div>
</div>